main {
	width:50%;
	height:auto;
	margin: 10px auto;
	display:block;
}
.player {
	width: 100%;
	border: solid 1px #dcd4f9;
	border-top: solid 3px #f27d0c;
	/*background: url('images/player-bg.png') no-repeat center;*/
	background-size: cover;
	position: relative;
}
.top-control {
	/* background:yellow; */
	position: absolute;
	top: 0;
	width: 100%;
	float: left;
}
#playPause {
	background: url("images/play-btn.png") center no-repeat;
	border: none;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	position: relative;
	margin: 10px;
	float: left;
}

.sub-title {
	/* background:BlanchedAlmond; */
	margin: 10px 10px 10px 0;
	height:60px;
	position: relative;
	float: left;
}
.song-title {
	background: #000000;
	color: #ffffff;
	padding: 5px 7px 7px;
	margin-top: 5px;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	display:block;
	min-width:50%;
	height:17px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

#unmuted {
	background: url('images/unmuted-btn.png') center no-repeat;
	border: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	margin-top: 5px;
	display:inline-block;
	float:left;
}

#muted {
	background: url('images/muted-btn.png') center no-repeat;
	border: none;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	margin-top: 5px;
	display:none;
	float:left;
}

#waveform {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#seek {
	background: url('images/equalizer.png') center no-repeat;
}

.line2-subtitle {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	height:20px;
	display:table-cell;
	vertical-align: middle;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}